# AKS Secure TLS Bootstrap V-Team
* @cameronmeissner @zachary-bailey

# Inherited owners of Azure/AgentBaker - AKS Node SIG
* @juan-lee @djsly @ganeshkumarashok @anujmaheshwari1 @Devinwong @lilypan26 @phealy

# AKS Secops Contributors
* @bcho